@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face { font-family:Raleway-My; src: url('/fonts/Raleway-Regular.ttf'); }
html{
    background: transparent;
    background-image: url("/img/texture.jpg");
}
html, body {
    /*background-color: #f2f2f2;*/
    color: #636b6f;
    font-weight: 300;
    /*font-family: 'Raleway', sans-serif;
    height: 100vh;*/
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
body {
    background-color: transparent;
    width: 95%;
    margin:  80px auto 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway-My';
    font-weight: 400;
    color: #333;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.navbar{
    font-weight: 800;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}
#main{
    width: inherit;
}
.panel{
    background-color: transparent;
    background-image: url("/img/paper.png");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #0f0f0f;
    margin: 5px 5px 5px 12px;
}
.panel-body{
    border-top: 1px solid #0f0f0f;

}
.panel-default > .panel-heading {
    background-color: transparent;
}
.article-name{
    margin: 3px;
}
.sidebar-block{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0 10px 3px;
    background-image: url("/img/paper.png");
}

.old-article-image {
    display: inline-block;
    max-width: 300px;
}
.titles_main{
    margin-top: 20px;
}
.article_main{
    background-color: transparent;
    background-image: url("/img/paper.png");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    //background: #8b7bb3;
    background-image: url("/img/texture.jpg");
    z-index: 30;}

.contpre small{font-size:25px;}

.contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color: #090909;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}

#p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url("/img/oval.svg") center center no-repeat;
    background-size:41px;
    margin: -16px 0 0 -16px;}